@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 'Trirong', sans-serif;
    scroll-behavior: smooth;
    background-color: black;
}

nav {
    background: transparent;
    height: 10px;
    width: 100%;
    font-family: 'Trirong', sans-serif;
}

#logoimg {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 5px;
}

nav ul{
    float: right;
    margin-right: 10px;
    font-size: 16px;
    padding-top: 10px;
  }

  nav ul li{
    display: inline-block;
    line-height: 10px;
    margin:  5px;
  }

  nav ul li a{
    color: white;
    font-size: 10px;
    padding: 5px 1px;
    border-radius: 3px;
    text-decoration: none;
  }

  a:hover {
    color: RGB(251,102,95);
  }

  .pictures {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 5px solid transparent;
    background:
    linear-gradient(135deg,white,RGB(251,102,95)) padding-box,
    linear-gradient(135deg, white, RGB(251,102,95)) border-box;
}

.imgcontainer {
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    display: flex;
    width: 50%;
}

.bigcontainer {
  display: flex;
  justify-content: flex-end;
  height: 40vh;
}

h2 {
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
}

p {
  color: white;
}
