@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 'Trirong', sans-serif;
    scroll-behavior: smooth;
}

nav {
    background: transparent;
    height: 10px;
    width: 100%;
    font-family: 'Trirong', sans-serif;
}

#logoimg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
}

nav ul{
    float: right;
    margin-right: 10px;
    font-size: 16px;
    padding-top: 10px;
  }

  nav ul li{
    display: inline-block;
    line-height: 10px;
    margin:  5px;
  }

.ticket_link {
    text-decoration: underline;
}

  nav ul li a{
    color: white;
    font-size: 10px;
    padding: 5px 1px;
    border-radius: 3px;
    text-decoration: none;
  }

  a:hover {
    color: black;
  }


p, a {
    color: white;
    font-size: 12px;
}

#img1 {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
}

#eventstitle {
    color: white;
    font-size: 20px;
    text-align: center;
}

.img-info {
    display: flex;
    justify-content: space-between;
}

#child1 {
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('img2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

body::after {
    content:"";
    position: absolute;
    z-index: -1;
    background: black;
    inset: 0;
    opacity: .3;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.wrapper {
    padding: 30px;
}

#img2 {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

#parent_container {
    display: "flex";
    flex-direction: column;
    justify-content: space-between;
}

#child1 {
    display: flex;
    justify-content: space-between;
}

#child2 {
    display: flex;
}

.links {
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
}

#contact {
    padding-top: 20px;
    color: white;
    text-align: start;
}

#contactinfo {
    padding-top: 5px;
}

li, a {
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 992px) {
    body {
        width: 100%;
        height: 100%;
    }
    
}

@media only screen and (max-width: 992px) and (min-width:768px) {
    body {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    #logoimg {
        width: 150px;
        height: 150px;
    }
    nav ul li a{
        font-size: 18px;
      }
      #eventstitle, #contact {
        padding-top: 50px;
        font-size: 25px;
      }
      p, a, li {
        font-size: 16px;;
      }
      #img1, #img2 {
        width: 250px;
        height: 250px;
      }
    }